#image_b{
	/*background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #4A6AAB),
	color-stop(1, #ABCFF1)
);
background-image: -o-linear-gradient(bottom, #4A6AAB 0%, #ABCFF1 100%);
background-image: -moz-linear-gradient(bottom, #4A6AAB 0%, #ABCFF1 100%);
background-image: -webkit-linear-gradient(bottom, #4A6AAB 0%, #ABCFF1 100%);
background-image: -ms-linear-gradient(bottom, #4A6AAB 0%, #ABCFF1 100%);
background-image: linear-gradient(to bottom, #4A6AAB 0%, #ABCFF1 100%);*/


	
background-repeat: no-repeat;
}

.gallery_img{

	width: 253px;
	height: 189px;
}

.title_gallery{

	color:#5e5e5e;
}

#menu_tabs_galley{
	margin-top: 1em;
}




