body{
    /*background-image: url(../bootstrap_login/assets/img/backgrounds/4.jpg);95A5A6*/
    /*background-color: #4C4C4C;*/
    background-color: #222D3A;

}

.button-back{

height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #de615e;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.button-back:hover { opacity: 0.6; color: #fff; }

.button-back:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.button-back:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

.button-back:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }


.button-modify{

height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #337AB7;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.button-modify:hover { opacity: 0.6; color: #fff; }

.button-modify:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.button-modify:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

.button-modify:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #337AB7; color: #fff; }

.textColor_gallery{
	color: #E7E7E7;
}

.text_change_password{
	color: #E7E7E7;
}




.button-add{

height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #5CB85C;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.button-add:hover { opacity: 0.6; color: #fff; }

.button-addactive { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }

.button-add:focus { outline: 0; opacity: 0.6; background: #de615e; color: #fff; }

.button-add:active:focus, button.btn.active:focus { outline: 0; opacity: 0.6; background: #5CB85C; color: #fff; }