	* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  /*background: #EEE;*/
  /*max-width: 1200px;*/


}

iframe{
  width: 21em;


  border-radius: 5px;
}

@media (min-width: 768px){
  .grid{
    margin-left: 9em;
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  /*width: 160px;*/
  width: 21em;
  height: auto;
  float: left;
  border-radius: 5px;
}

 .fb-post div {
    /*margin-bottom: 16em;*/
    
   /* transform:scale(0.8,0.8);*/
 }
.userContentWrapper{
  
  /*padding-bottom: 50px;*/


}
.fb-post div, .fb_iframe_widget{
  margin-bottom: 17em;
}

.fb-post, .fb_iframe_widget{
  margin-bottom: 17em !important;
  padding-bottom: 45px;
  
}

span iframe {
    width: 21em !important;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }